/* Set the background color and font for the entire website */
body {
  background-color: #f1f6fe;
  font-family: Arial, sans-serif;
}

/* Set the font color and size for all headings */
h1{
  color: #2d6187;
  font-size: 2.5em;
}

h2, h3, h4, h5, h6 {
  color: #2d6187;
  font-size: 1.5em;
}

/* Set the font color and size for all paragraphs */
p {
  color: #333333;
  font-size: 1em;
}

/* Set the color and style for all links */
a {
  color: #2d6187;
  text-decoration: none;
  border-bottom: 2px solid #2d6187;
}

/* Set the color and style for all links when hovered over */
a:hover {
  color: #ffffff;
  background-color: #2d6187;
  border-bottom: none;
}

/* Set the style for all buttons */
button {
  background-color: #2d6187;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
}

/* Set the style for all buttons when hovered over */
button:hover {
  background-color: #ffffff;
  color: #2d6187;
  cursor: pointer;
}